body{
    background: #f3f3f3;
}

.main{
    background: #fff;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.col-md-6{
    width: 50%;
}

.col-md-6 textarea{
    width: 100%;
    resize: none;
}