{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    {% if articles %}
        {% for article in articles %}
            <div>
                <span>id: {{ article.id }}</span>
                <span>title: {{ article.title }}</span>
                <span>ctime: {{ article.create_time}}</span>
                <span>author: {{ article.author.nickname }}</span>
                <span>content: {{ article.content }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}